.dj-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  color: var(--t-text-color-2);
  transition: color 0.5s;

  &:hover {
    color: var(--t-text-color);
  }

  .icon {
    width: 20px;
    height: 20px;
    color: inherit;
  }
}
