code[class*=language-],
pre[class*=language-] {
  color: var(--t-text-color-2);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: .3em;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background-color: #fdf6e3;
}

:not(pre) > code[class*=language-] {
  padding: .1em;
  border-radius: .3em;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #93a1a1;
}

.token.punctuation {
  color: var(--t-text-color-2);
}

.token.namespace {
  opacity: .7;
}

.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: #268bd2;
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string,
.token.url {
  color: #2aa198;
}

.token.entity {
  color: #657b83;
  background: #eee8d5;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--green);
}

.token.class-name,
.token.function {
  color: #b58900;
}

.token.important,
.token.regex,
.token.variable {
  color: var(--red);
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

:root {
  --t-jy-button-text-color: var(--t-text-color);
  --t-jy-button-background-color: var(--t-card-background-color);
}

@font-face {
  font-family: "Inter Var";
  src: url("@/assets/font/inter-val.woff2");
}

@font-face {
  font-family: "Staatliches";
  src: url("@/assets/font/Staatliches-Regular.ttf");
}

body,
html,
#app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

head {
  display: none;
}

html.dark {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter Var";
  color: var(--t-text-color);
  background-color: var(--t-background-color);
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

a,
area,
button,
[role=button],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

button,
input,
optgroup,
select,
textarea {
  border: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
}

button {
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  background-image: none;
}

.container * {
  pointer-events: auto;
}

button:enabled,
[role=button]:enabled {
  cursor: pointer;
}

p {
  margin: 0;
}

div {
  display: block;
}

::-moz-selection {
  color: var(--t-white);
  background-color: var(--t-black);
}

::selection {
  color: var(--t-white);
  background-color: var(--t-black);
}

:root {
  --header-max-width: 1440px;
  --sidebar-width: 272px;
  --layout-max-width: 1440px;
  --header-height: 64px;
  --jy-input-height: 34px;
  --jy-select-height: 34px;
  --blue: #0D6EFD;
  --red: #ee2b47;
  --green: #00ad7c;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --white: #FFFFFF;
  --black: #303133;
  --grey: #A8A8A8;
  --gray: #6c757d;
  --light-gray: #DCDFE6;
  --indigo: #6610F2;
  --purple: #6F42C1;
  --pink: #D63384;
  --t-text-light-1: rgba(60, 60, 67);
  --t-text-light-2: rgba(60, 60, 67, .75);
  --t-text-light-3: rgba(60, 60, 67, .33);
  --t-text-dark-1: rgba(255, 255, 245, .86);
  --t-text-dark-2: rgba(235, 235, 245, .6);
  --t-text-dark-3: rgba(235, 235, 245, .38);
  --red-rgb: 220, 53, 69;
  --text-color: #303133;
  --border-color: #DCDFE6;
  --bg-color: #FFFFFF;
  --backdrop-bg-color: rgba(0, 0, 0, .6);
  --border-radius: 0.375rem;
  --localNav-z-index: 10;
  --nav-z-index: 20;
  --backdrop-z-index: 40;
  --sidebar-z-index: 50;
  --loading-z-index: 60;
  --transition-duration-fast: .2s;
  --box-shadow: 0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
  --box-shadow-1: 0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
  --box-shadow-2: 0 3px 12px rgba(0, 0, 0, .07), 0 1px 4px rgba(0, 0, 0, .07);
  --box-shadow-3: 0 12px 32px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, .08);
  --box-shadow-4: 0 14px 44px rgba(0, 0, 0, .12), 0 3px 9px rgba(0, 0, 0, .12);
  --box-shadow-5: 0 18px 56px rgba(0, 0, 0, .16), 0 4px 12px rgba(0, 0, 0, .16);
}

:root {
  --t-white: var(--white);
  --t-black: var(--black);
  --t-text-color: #3C3C43;
  --t-text-color-1: var(--t-text-light-1);
  --t-text-color-2: var(--t-text-light-2);
  --t-text-color-3: var(--t-text-light-3);
  --t-text-color-hover: rgba($color: #3C3C43, $alpha: .5);
  --t-bold-title-color: #3C3C43;
  --t-background-color: #FFFFFF;
  --t-card-background-color: #F1F1F2;
  --t-label-background-color: #F6F6F7;
  --t-elv-background-color: #FFFFFF;
  --t-elv-mute-background-color: #f6f6f7;
  --t-border-color: rgba(60, 60, 67, .12);
  --t-sidebar-background-color: #f6f6f7;
  --t-special-bg: rgba(33, 37, 41, 0.03);
  --t-code-bg: #FAFAFA;
  --t-code-copy-bg: #EEEFF0;
  --t-color-gutter: rgba(60, 60, 67, .12);
  --t-chat-dialogue-color: rgba(0, 0, 0, .035);
  --t-text-color-rgba: 60, 60, 67;
  --t-bold-title-color-rgba: 60, 60, 67;
  --t-background-color-rgba: 255, 255, 255;
  --t-card-background-color-rgba: 241, 241, 242;
  --t-label-background-color-rgba: 246, 246, 247;
  --t-scrollbar-color: rgb(241, 241, 241);
  --t-scrollbar-thumb-color: rgb(193, 193, 193);
  --t-scrollbar-thumb-hover-color: rgb(168, 168, 168);
}

html.dark {
  --t-white: var(--black);
  --t-black: var(--white);
  --t-text-color: #DFDFD7;
  --t-text-color-1: var(--t-text-dark-1);
  --t-text-color-2: var(--t-text-dark-2);
  --t-text-color-3: var(--t-text-dark-3);
  --t-text-color-hover: rgba(235, 235, 235, .6);
  --t-bold-title-color: #DFDFD7;
  --t-background-color: #1E1E20;
  --t-card-background-color: #252529;
  --t-label-background-color: #313136;
  --t-elv-background-color: #252529;
  --t-elv-mute-background-color: #313136;
  --t-border-color: rgba(82, 82, 89, .32);
  --t-sidebar-background-color: #161618;
  --t-special-bg: rgba(173, 181, 189, 0.03);
  --t-code-bg: #18181A;
  --t-code-copy-bg: #1e1e20;
  --t-color-gutter: #000000;
  --t-chat-dialogue-color: rgba(39, 41, 45, .55);
  --t-text-color-rgba: 223, 223, 215;
  --t-bold-title-color-rgba: 223, 223, 215;
  --t-background-color-rgba: 30, 30, 32;
  --t-card-background-color-rgba: 37, 37, 41;
  --t-label-background-color-rgba: 49, 49, 54;
  --t-scrollbar-color: rgb(66, 66, 66);
  --t-scrollbar-thumb-color: rgb(104, 104, 104);
  --t-scrollbar-thumb-hover-color: rgb(123, 123, 123);
}

div#driver-highlighted-element-stage {
  background-color: var(--t-background-color) !important;
}

div#driver-popover-item {
  padding: 14px !important;
  color: var(--t-text-color);
  background-color: var(--t-background-color) !important;
  border-radius: var(--border-radius) !important;
}

div#driver-popover-item div.driver-popover-tip.top {
  border-color: transparent transparent var(--t-background-color) transparent !important;
}

div#driver-popover-item div.driver-popover-tip.right {
  border-color: transparent transparent transparent var(--t-background-color) !important;
}

div#driver-popover-item div.driver-popover-tip.left {
  border-color: transparent var(--t-background-color) transparent transparent !important;
}

div#driver-popover-item div.driver-popover-tip.bottom {
  border-color: var(--t-background-color) transparent transparent transparent !important;
}

div#driver-popover-item div.driver-popover-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--t-text-color-1);
}

div#driver-popover-item div.driver-popover-description {
  font-size: 14px;
  color: var(--t-text-color-2);
}

div#driver-popover-item div.driver-clearfix.driver-popover-footer {
  margin-top: 8px;
}

div#driver-popover-item div.driver-clearfix.driver-popover-footer button {
  padding: 6px 12px;
  color: var(--t-text-color-2);
  font-size: 14px;
  text-shadow: none;
  border: none;
  background-color: var(--t-card-background-color);
  border-radius: var(--border-radius);
}

div#driver-popover-item div.driver-clearfix.driver-popover-footer button.driver-close-btn {
  display: none;
}

div#driver-popover-item div.driver-clearfix.driver-popover-footer span.driver-btn-group.driver-navigation-btns button.driver-prev-btn.driver-disabled {
  display: none !important;
}

.DocSearch.DocSearch-Container {
  background: transparent;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  -webkit-animation: containerTranslate .25s 1 forwards;
          animation: containerTranslate .25s 1 forwards;
}

.DocSearch.DocSearch-Container .DocSearch-Modal {
  margin: 60px auto auto;
  -webkit-transform: translateY(30px) scale(0.85);
          transform: translateY(30px) scale(0.85);
  background: var(--t-background-color);
  -webkit-box-shadow: var(--box-shadow-2);
          box-shadow: var(--box-shadow-2);
  border-radius: 12px;
  opacity: 0;
  -webkit-animation: modalTranslate .25s 1 forwards;
          animation: modalTranslate .25s 1 forwards;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-SearchBar {
  padding-bottom: 8px;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-SearchBar .DocSearch-Form {
  height: 48px;
  background: transparent;
  -webkit-box-shadow: inset 0 0 0 2px var(--green);
          box-shadow: inset 0 0 0 2px var(--green);
  border-radius: var(--border-radius);
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-SearchBar .DocSearch-Form .DocSearch-LoadingIndicator {
  color: var(--green);
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-SearchBar .DocSearch-Form .DocSearch-MagnifierLabel {
  color: var(--green);
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-SearchBar .DocSearch-Form .DocSearch-Input {
  color: var(--t-text-color);
  font-size: 1rem;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-SearchBar .DocSearch-Form .DocSearch-Input::-webkit-input-placeholder {
  color: var(--t-text-color-2);
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-SearchBar .DocSearch-Form .DocSearch-Input:-ms-input-placeholder {
  color: var(--t-text-color-2);
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-SearchBar .DocSearch-Form .DocSearch-Input::-ms-input-placeholder {
  color: var(--t-text-color-2);
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-SearchBar .DocSearch-Form .DocSearch-Input::placeholder {
  color: var(--t-text-color-2);
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-SearchBar .DocSearch-Form .DocSearch-Reset {
  color: var(--t-text-color);
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-SearchBar .DocSearch-Cancel {
  color: var(--green);
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown::-webkit-scrollbar {
  all: unset;
  display: none;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown::-webkit-scrollbar-thumb {
  all: unset;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown::-webkit-scrollbar-track {
  all: unset;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown .DocSearch-Dropdown-Container .DocSearch-Hits:first-child .DocSearch-Hit-source {
  padding-top: 0;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown .DocSearch-Dropdown-Container .DocSearch-Hits .DocSearch-Hit-source {
  margin: 0;
  color: var(--green);
  background: transparent;
  position: relative;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown .DocSearch-Dropdown-Container .DocSearch-Hits #docsearch-list .DocSearch-Hit {
  padding: 0;
  margin-bottom: 8px;
  color: var(--t-text-color-2);
  background-color: var(--t-card-background-color);
  border: 1px solid var(--t-border-color);
  border-radius: var(--border-radius);
  -webkit-transition: background-color .15s;
  transition: background-color .15s;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown .DocSearch-Dropdown-Container .DocSearch-Hits #docsearch-list .DocSearch-Hit[aria-selected=true] mark {
  color: var(--green) !important;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown .DocSearch-Dropdown-Container .DocSearch-Hits #docsearch-list .DocSearch-Hit:last-child {
  margin-bottom: 0;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown .DocSearch-Dropdown-Container .DocSearch-Hits #docsearch-list .DocSearch-Hit:hover {
  color: var(--white) !important;
  background-color: var(--green);
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown .DocSearch-Dropdown-Container .DocSearch-Hits #docsearch-list .DocSearch-Hit:hover mark {
  color: inherit !important;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown .DocSearch-Dropdown-Container .DocSearch-Hits #docsearch-list .DocSearch-Hit a {
  color: inherit;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown .DocSearch-Dropdown-Container .DocSearch-Hits #docsearch-list .DocSearch-Hit a .DocSearch-Hit-Container {
  color: inherit;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown .DocSearch-Dropdown-Container .DocSearch-Hits #docsearch-list .DocSearch-Hit a .DocSearch-Hit-Container .DocSearch-Hit-icon {
  color: inherit !important;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown .DocSearch-Dropdown-Container .DocSearch-Hits #docsearch-list .DocSearch-Hit a .DocSearch-Hit-Container .DocSearch-Hit-Tree {
  color: inherit;
  opacity: .6;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown .DocSearch-Dropdown-Container .DocSearch-Hits #docsearch-list .DocSearch-Hit a .DocSearch-Hit-Container .DocSearch-Hit-content-wrapper {
  color: inherit;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown .DocSearch-Dropdown-Container .DocSearch-Hits #docsearch-list .DocSearch-Hit a .DocSearch-Hit-Container .DocSearch-Hit-content-wrapper .DocSearch-Hit-title,
.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown .DocSearch-Dropdown-Container .DocSearch-Hits #docsearch-list .DocSearch-Hit a .DocSearch-Hit-Container .DocSearch-Hit-content-wrapper .DocSearch-Hit-path {
  color: inherit !important;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown .DocSearch-Dropdown-Container .DocSearch-Hits #docsearch-list .DocSearch-Hit a .DocSearch-Hit-Container .DocSearch-Hit-content-wrapper .DocSearch-Hit-title mark,
.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown .DocSearch-Dropdown-Container .DocSearch-Hits #docsearch-list .DocSearch-Hit a .DocSearch-Hit-Container .DocSearch-Hit-content-wrapper .DocSearch-Hit-path mark {
  color: var(--green);
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown .DocSearch-Dropdown-Container .DocSearch-Hits #docsearch-list .DocSearch-Hit a .DocSearch-Hit-Container .DocSearch-Hit-action {
  color: inherit !important;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Dropdown .DocSearch-NoResults .DocSearch-NoResults-Prefill-List ul li .DocSearch-Prefill {
  color: var(--green);
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Footer {
  font-size: 12px;
  color: var(--t-text-color-2);
  background: var(--t-card-background-color);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Footer .DocSearch-Commands {
  font-size: 14px;
  color: inherit;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Footer .DocSearch-Commands li .DocSearch-Commands-Key {
  margin-right: 4px;
  padding: 2px 4px;
  width: auto;
  height: auto;
  color: inherit;
  font-family: inherit;
  background: var(--t-border-color);
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Footer .DocSearch-Commands li .DocSearch-Label {
  font-size: 12px;
  color: inherit;
}

.DocSearch.DocSearch-Container .DocSearch-Modal .DocSearch-Footer .DocSearch-Logo .DocSearch-Label {
  font-size: 12px;
  color: inherit;
}

@-webkit-keyframes containerTranslate {
  100% {
    background: var(--backdrop-bg-color);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
}

@keyframes containerTranslate {
  100% {
    background: var(--backdrop-bg-color);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
}

@-webkit-keyframes modalTranslate {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

@keyframes modalTranslate {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

@media (max-width: 768px) {
  .DocSearch.DocSearch-Container {
    -webkit-animation: none;
            animation: none;
  }
  .DocSearch.DocSearch-Container .DocSearch-Modal {
    margin: 0;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    border-radius: 0;
    -webkit-animation: none;
            animation: none;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */