@font-face {
  font-family: "Inter Var";
  src: url("@/assets/font/inter-val.woff2");
}

@font-face {
  font-family: "Staatliches";
  src: url("@/assets/font/Staatliches-Regular.ttf");
}

@font-face {
  font-family: "Caveat";
  src: url("@/assets/font/Caveat-Bold.ttf");
}

body,
html,
#app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

head {
  display: none;
}

html.dark {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter Var";
  color: var(--t-text-color);
  background-color: var(--t-background-color);
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

button,
input,
optgroup,
select,
textarea {
  border: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
}

button {
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  background-image: none;
}

.container * {
  pointer-events: auto;
}

button:enabled,
[role="button"]:enabled {
  cursor: pointer;
}

p {
  margin: 0;
}

div {
  display: block;
}

// ::selection {
//   color: var(--t-white);
//   background-color: var(--t-black);
// }

:root {
  // width
  --header-max-width: 1440px;
  --sidebar-width: 272px;
  --layout-max-width: 1440px;

  // height
  --header-height: 64px;
  --dj-input-height: 34px;
  --jy-select-height: 34px;
  --dj-duio-height: 36px;

  // color
  --blue: #0d6efd;
  --red: #ee2b47;
  --green: #00ad7c;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --white: #ffffff;
  --black: #303133;
  --grey: #a8a8a8;
  --gray: #6c757d;
  --light-gray: #dcdfe6;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --t-text-light-1: rgba(60, 60, 67);
  --t-text-light-2: rgba(60, 60, 67, 0.75);
  --t-text-light-3: rgba(60, 60, 67, 0.33);
  --t-text-dark-1: rgba(255, 255, 245, 0.86);
  --t-text-dark-2: rgba(235, 235, 245, 0.6);
  --t-text-dark-3: rgba(235, 235, 245, 0.38);

  // color-rgb
  --red-rgb: 220, 53, 69;

  // text-color
  --text-color: #303133;

  // border-color
  --border-color: #dcdfe6;

  // bg-color
  --bg-color: #ffffff;
  --backdrop-bg-color: rgba(0, 0, 0, 0.6);

  // border-radius
  --border-radius: 0.375rem;

  // index
  --localNav-z-index: 10;
  --nav-z-index: 20;
  --backdrop-z-index: 30;
  --sidebar-z-index: 40;
  --loading-z-index: 60;

  // transition
  --transition-duration-fast: 0.2s;

  // box-shadow
  --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --box-shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --box-shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
  --box-shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
  --box-shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
  --box-shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16),
    0 4px 12px rgba(0, 0, 0, 0.16);
}

:root {
  // light
  --t-white: var(--white);
  --t-black: var(--black);
  --t-text-color: #3c3c43; // 文字颜色
  --t-text-color-1: var(--t-text-light-1);
  --t-text-color-2: var(--t-text-light-2);
  --t-text-color-3: var(--t-text-light-3);
  --t-bold-title-color: #3c3c43; // 大标题颜色
  --t-background-color: #ffffff; // 背景色
  --t-card-background-color: #f1f1f2; // 卡片背景
  --t-label-background-color: #f6f6f7; // 标签背景色
  --t-elv-background-color: #ffffff; // 弹出层背景色
  --t-elv-mute-background-color: #f6f6f7; // link选中颜色
  --t-border-color: rgba(60, 60, 67, 0.12); // 边框颜色
  --t-sidebar-background-color: #f6f6f7;
  --t-special-bg: rgba(33, 37, 41, 0.03);
  --t-code-bg: #fafafa;
  --t-code-copy-bg: #eeeff0;
  --t-color-gutter: rgba(60, 60, 67, 0.12); //边框
  --t-chat-dialogue-color: rgba(0, 0, 0, 0.035);
  // rgba
  --t-text-color-rgba: 60, 60, 67; // 文字颜色rgba
  --t-bold-title-color-rgba: 60, 60, 67; // 大标题颜色rgba
  --t-background-color-rgba: 255, 255, 255; // 背景色rgba
  --t-card-background-color-rgba: 241, 241, 242; // 卡片背景rgba
  --t-label-background-color-rgba: 246, 246, 247; // 标签背景色rgba
}

html.dark {
  // dark
  --t-white: var(--black);
  --t-black: var(--white);
  --t-text-color: #dfdfd7; // 文字颜色
  --t-text-color-1: var(--t-text-dark-1);
  --t-text-color-2: var(--t-text-dark-2);
  --t-text-color-3: var(--t-text-dark-3);
  --t-bold-title-color: #dfdfd7; // 大标题颜色
  --t-background-color: #1e1e20; // 背景色
  --t-card-background-color: #252529; // 卡片背景
  --t-label-background-color: #313136; // 标签背景色
  --t-elv-background-color: #252529; // 弹出层背景色
  --t-elv-mute-background-color: #313136; // link选中颜色
  --t-border-color: rgba(82, 82, 89, 0.32); // 边框颜色
  --t-sidebar-background-color: #161618;
  --t-special-bg: rgba(173, 181, 189, 0.03);
  --t-code-bg: #18181a;
  --t-code-copy-bg: #1e1e20;
  --t-color-gutter: #000000; //边框
  --t-chat-dialogue-color: rgba(39, 41, 45, 0.55);

  // rgba
  --t-text-color-rgba: 223, 223, 215; // 文字颜色rgba
  --t-bold-title-color-rgba: 223, 223, 215; // 大标题颜色rgba
  --t-background-color-rgba: 30, 30, 32; // 背景色rgba
  --t-card-background-color-rgba: 37, 37, 41; // 卡片背景rgba
  --t-label-background-color-rgba: 49, 49, 54; // 标签背景色rgba
}

// algolia
@import "./algolia.less";

// django-ui
@import "./controls-theme/index.less";
