.dj-code {
  --dj-code-border-radius: rem(6px);
  --dj-code-font-size: rem(14px);
  margin-top: 8px;
  position: relative;

  &::before {
    content: attr(language);
    position: absolute;
    top: rem(8px);
    right: rem(8px);
    line-height: 1;
    color: var(--t-text-color-3);
    font-size: rem(12px);
    opacity: 1;
    visibility: visible;
    transition: color 0.25s, opacity 0.25s, visibility 0.25s;
  }

  &:hover {
    &:before {
      opacity: 0;
      visibility: hidden;
    }

    .dj-copy,
    .dj-code-foldUp {
      opacity: 1;
      visibility: visible;
    }
  }

  .dj-code-unfold {
    @background-color: var(--t-background-color);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: rem(100px);
    background: linear-gradient(transparent 30%, @background-color);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: opacity 0.25s, visibility 0.25s;

    .dj-code-unfold__wrapper {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 40px;
      color: var(--t-text-color);
      opacity: 0.6;
      transition: color 0.25s, opacity 0.25s;

      &:hover {
        opacity: 1;
      }

      .icon {
        width: 20px;
        height: 20px;
      }
    }
  }

  .dj-copy {
    direction: ltr;
    position: absolute;
    top: rem(8px);
    right: rem(8px);
    display: flex;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: opacity 0.25s, visibility 0.25s;

    .dj-copy__wrapper {
      width: rem(32px);
      height: rem(32px);
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid transparent;
      border-radius: var(--dj-code-border-radius);
      color: var(--t-text-color-3);
      background-color: var(--t-code-copy-bg);
      cursor: pointer;
      transition: color 0.25s, border-color 0.25s;

      &:hover {
        color: var(--t-text-color);
        border-color: var(--t-border-color);
      }

      .icon {
        width: 18px;
        height: 18px;
      }
    }
  }

  .dj-copy.copied {
    opacity: 1;
    visibility: visible;

    .dj-copy__wrapper {
      color: var(--t-text-color);
      border-color: var(--t-border-color);
    }
  }

  .dj-code__wrapper {
    padding: 20px 24px;
    margin: 0;
    font-size: 0.875em;
    overflow: auto;
    border-radius: var(--dj-code-border-radius);
    background-color: var(--t-code-bg);
    z-index: 1;
  }

  .dj-code-foldUp {
    position: absolute;
    right: rem(8px);
    bottom: rem(8px);
    display: flex;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: opacity 0.25s, visibility 0.25s;

    .dj-code-foldUp__wrapper {
      width: rem(32px);
      height: rem(32px);
      color: var(--t-text-color-3);
      background-color: var(--t-special-bg);
      border: 1px solid transparent;
      border-radius: var(--dj-code-border-radius);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: color 0.25s, border-color 0.25s;

      &:hover {
        color: var(--t-text-color);
        border-color: var(--t-border-color);
      }

      .icon {
        width: rem(18px);
        height: rem(18px);
      }
    }
  }
}

.dj-code.overstep {
  height: 340px;
  overflow-y: hidden;

  .dj-code-unfold {
    opacity: 1;
    visibility: visible;
  }
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--t-text-color-2);
  font-size: 1em;
  font-family: inherit;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #fdf6e3;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: var(--dj-code-border-radius);
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #93a1a1;
  color: gray !important;
}

.token.punctuation {
  color: var(--t-text-color-2);
}

.token.namespace {
  opacity: 0.7;
}

.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: #268bd2;
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string,
.token.url {
  color: #2aa198;
}

.token.entity {
  color: #657b83;
  background: #eee8d5;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--green);
}

.token.class-name,
.token.function {
  color: #ce6700;
}

.token.important,
.token.regex,
.token.variable {
  color: var(--red);
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
